.navbar {
  padding: 0px;
}

.navbar_container {
  width: 1200px;
  margin: auto;
  position: relative;
}

.navbar_container .logo {
  height: 70px;
}

.navbar_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 0;
  cursor: pointer;
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .navbar_group {
    text-align: center;
    display: none;
    width: 100%;
    top: 70px;
    right: 0;
  }
}

.navbar_group_active {
  display: block;
}

.navbar_item {
  padding: 10px 20px;
  position: relative;
  background-color: #fff;
}

.navbar_item::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #8bccbf;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.navbar_item:hover::after {
  width: 60px;
  opacity: 1;
}

.navbar_menu {
  position: absolute;
  display: inline-block;
  background-color: lightgray;
  border-radius: 4px;
  border: 1px solid gray;
  height: 40px;
  width: 40px;
  top: 15px;
  right: 0;
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar_menu {
    display: block;
  }
}

.navbar_menu span {
  display: inline-block;
  height: 2px;
  background-color: #000;
  width: 32px;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar_menu span:first-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-8px) translateX(-50%);
          transform: translateY(-8px) translateX(-50%);
}

.navbar_menu span:first-child::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  content: "";
  background-color: #000;
  height: 2px;
  width: 32px;
  position: absolute;
  top: 8px;
  left: 0;
}

.navbar_menu span:last-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(8px) translateX(-50%);
          transform: translateY(8px) translateX(-50%);
}

.navbar_menu_active span:first-child {
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
          transform: translateY(-50%) translateX(-50%) rotate(45deg);
}

.navbar_menu_active span:first-child::before {
  opacity: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.navbar_menu_active span:last-child {
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-45deg);
          transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

.banner .container-fluid {
  height: 80vh;
  padding: 0;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.banner_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.banner_maintitle {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  margin-bottom: 20%;
}

@media screen and (max-width: 768px) {
  .banner_maintitle {
    margin-bottom: 60%;
  }
}

.banner_maintitle .brandname {
  font-size: 120px;
}

@media screen and (max-width: 768px) {
  .banner_maintitle .brandname {
    font-size: 60px;
  }
}

.banner_maintitle .slogan {
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .banner_maintitle .slogan {
    font-size: 32px;
  }
}

.banner_btn {
  padding: 10px 80px;
  background-color: #8bccbf;
  border: 1px solid #8bccbf;
  border-radius: 6px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .banner_btn {
    font-size: 20px;
    padding: 10px 70px;
  }
}

.allactivity {
  padding: 24px;
  background-color: #f4eaec;
}

.allactivity_content {
  overflow: hidden;
}

.allactivity_gruop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .allactivity_gruop {
    margin: auto;
  }
}

.allactivity_gruop img {
  width: 300px;
  height: 124px;
  border: 4px solid #fff;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .allactivity_gruop img {
    width: 240px;
    height: 124px;
  }
}

.allactivity_img {
  margin-right: 32px;
}

.allactivity_img:last-child {
  margin-right: 0;
}

.allactivity_control {
  padding: 5px;
  margin-top: 16px;
  background-color: #fff;
  position: relative;
}

.allactivity_control p {
  margin-bottom: 0;
  font-weight: bold;
}

.allactivity_control span {
  cursor: pointer;
  position: absolute;
  padding: 5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.allactivity_control span:first-child {
  top: 7px;
  left: 10px;
}

.allactivity_control span:first-child::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 15px solid #000;
  border-bottom: 10px solid transparent;
}

.allactivity_control span:nth-child(2) {
  top: 7px;
  right: 10px;
}

.allactivity_control span:nth-child(2)::before {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 15px solid #000;
  border-bottom: 10px solid transparent;
}

.allactivity_control span:hover {
  background-color: #777;
}

.activityway {
  padding: 40px 0px;
}

@media screen and (max-width: 768px) {
  .activityway {
    padding: 20px 0px;
  }
}

.activityway_content {
  position: relative;
}

.activityway_img {
  position: relative;
}

.activityway_img .mountain {
  position: absolute;
  left: -64px;
}

@media screen and (max-width: 768px) {
  .activityway_img .mountain {
    top: 250px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.activityway_img .people1 {
  position: absolute;
  right: 20px;
  top: 40px;
}

@media screen and (max-width: 768px) {
  .activityway_img .people1 {
    top: 380px;
    right: 28px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.activityway_img .people2 {
  position: absolute;
  right: 200px;
}

@media screen and (max-width: 768px) {
  .activityway_img .people2 {
    top: 360px;
    left: 0px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.activityway_img .activityway_title {
  position: absolute;
  width: 30%;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
  .activityway_img .activityway_title {
    width: 80%;
  }
}

.activityway_subtitle {
  padding-top: 200px;
  color: #885d7a;
  font-size: 48px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .activityway_subtitle {
    font-size: 24px;
  }
}

.activityway_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .activityway_step {
    display: block;
    margin-top: 300px;
  }
}

.activityway_step .step {
  margin-right: 72px;
  width: 150px;
  height: 150px;
  border-radius: 34px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .activityway_step .step {
    margin-right: 0;
    margin-bottom: 32px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 125px;
    height: 125px;
  }
}

.activityway_step .step:nth-child(1) {
  border: 4px solid #f48fb1;
  color: #f48fb1;
}

.activityway_step .step:nth-child(2) {
  border: 4px solid #ba68c8;
  color: #ba68c8;
}

.activityway_step .step:nth-child(3) {
  border: 4px solid #ba68c8;
  color: #ba68c8;
}

.activityway_step .step:nth-child(4) {
  border: 4px solid #7986cb;
  color: #7986cb;
}

.activityway_step .step:nth-child(5) {
  border: 4px solid #4dd0e1;
  color: #4dd0e1;
  margin-right: 0px;
}

.activityway_step .step_number {
  line-height: 1;
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  left: -32px;
  top: 24px;
  background-color: #fff;
}

@media screen and (max-width: 768px) {
  .activityway_step .step_number {
    font-size: 86px;
    top: 16px;
  }
}

.activityway_step .step_desc {
  font-size: 48px;
  font-weight: bold;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 28px;
}

@media screen and (max-width: 768px) {
  .activityway_step .step_desc {
    font-size: 40px;
    top: 36px;
  }
}

.activityway_step .sign {
  background-color: #f4eaec;
  width: 40px;
  height: 820px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.activityway_step .sign::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 80px solid #f4eaec;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
}

@media screen and (max-width: 768px) {
  .activityway_step .sign {
    display: block;
  }
}

.activityway_btn {
  padding: 14px 82px;
  color: #fff;
  background-color: #8bccbf;
  border: 1px solid #8bccbf;
  border-radius: 6px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin-top: 32px;
}

@media screen and (max-width: 768px) {
  .activityway_btn {
    margin-top: 48px;
  }
}

.supersell {
  background-color: #f4eaec;
  padding: 80px 0px 40px 0px;
}

@media screen and (max-width: 768px) {
  .supersell .phone_disable {
    display: none;
  }
}

.supersell .container {
  position: relative;
}

.supersell_maintitle {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.supersell_link {
  display: inline-block;
  font-size: 16px;
  line-height: 2;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  position: absolute;
  right: 20px;
}

.supersell_link::after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid #000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-left: 4px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .supersell_link {
    display: none;
  }
}

.supersell_hotel {
  padding: 24px 0px;
}

.supersell_hotel_content {
  position: relative;
  width: 100%;
  height: 306px;
  overflow: hidden;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .supersell_hotel_content {
    width: 100%;
    height: 100%;
  }
}

.supersell_hotel_content img {
  width: 100%;
  height: 306px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .supersell_hotel_content img {
    width: 100%;
    height: 240px;
  }
}

.supersell_hotel_content .tag {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  position: absolute;
  top: 40px;
  left: 0;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .supersell_hotel_content .tag {
    font-size: 14px;
    padding: 4px 8px;
  }
}

.supersell_hotel_content .tea {
  background-color: #f48fb1;
}

.supersell_hotel_content .discount {
  background-color: #ba68c8;
}

.supersell_hotel_content .brf {
  background-color: #7986cb;
}

.supersell_hotel_content .present {
  background-color: #4dd0e1;
}

.supersell_hotel_content:hover .supersell_hotel_learnmore {
  opacity: 1;
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.supersell_hotel_content:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.supersell_hotel_content:hover .tag {
  opacity: 0;
}

.supersell_hotel_content:hover .supersell_hotel_desc {
  bottom: 0;
}

.supersell_hotel_content:hover .hotel_name {
  padding: 5px;
}

.supersell_hotel_learnmore {
  display: block;
  text-decoration: none;
  color: #fff;
  position: absolute;
  background-color: #0009;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 246px;
  top: 0%;
  left: 0%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

@media screen and (max-width: 768px) {
  .supersell_hotel_learnmore {
    display: none;
  }
}

.supersell_hotel_desc {
  width: 100%;
  background-color: #fff;
  position: absolute;
  bottom: -40px;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.supersell_hotel_desc .hotel_name {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 5px 10px 5px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .supersell_hotel_desc .hotel_name {
    padding: 2px 4px 2px 4px;
  }
}

.supersell_hotel_desc .phone_number {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .supersell_hotel_desc .phone_number {
    padding: 2px 4px 2px 4px;
  }
}

@media screen and (max-width: 768px) {
  .supersell_hotel_desc {
    bottom: 0;
  }
}

.supersell_btn {
  font-size: 14px;
  padding: 6px;
  text-align: center;
  width: 100%;
  background-color: #1d1d1d60;
  color: #fff;
  border: #1d1d1d60;
  border-radius: 6px;
  display: none;
}

@media screen and (max-width: 768px) {
  .supersell_btn {
    display: block;
  }
}

.hothotel {
  padding: 12px 0px 80px 0px;
  background-color: #f4eaec;
}

.hothotel_container {
  position: relative;
  overflow: hidden;
}

.hothotel_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hothotel_img {
  height: 270px;
  position: relative;
}

.hothotel_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}

.hothotel_img_btn {
  width: 100%;
  background-color: #8bccbf;
  color: #fff;
  border: #8bccbf;
  padding: 5px 0px;
  position: absolute;
  bottom: 0;
  display: none;
}

@media screen and (max-width: 768px) {
  .hothotel_img_btn {
    display: block;
  }
}

.hothotel_content {
  width: 32%;
  padding: 0;
  margin-right: 26px;
}

.hothotel_content_bgc {
  background-color: #fff;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hothotel_content {
    width: 100%;
    padding: 0px 15px;
  }
}

.hothotel_maintitle {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.hothotel_link {
  display: inline-block;
  position: absolute;
  right: 20px;
  line-height: 2;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.hothotel_link:hover {
  color: #000;
}

.hothotel_link::after {
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid #000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-left: 4px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .hothotel_link {
    display: none;
  }
}

.hothotel_text {
  padding: 5px 10px;
}

.hothotel_text .price {
  font-weight: bold;
  margin-left: 4px;
  margin-right: 16px;
  line-height: 2;
}

.hothotel_text .action {
  position: relative;
  margin-bottom: 7px;
  bottom: 0;
}

.hothotel_text .action_icon {
  height: 24px;
  vertical-align: middle;
}

.hothotel_text_desc {
  font-size: 16px;
}

.hothotel_title {
  margin-top: 7px;
  font-size: 24px;
  font-weight: bold;
}

.hothotel_btn {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: #8bccbf;
  padding: 5px 40px 5px 5px;
  position: absolute;
  right: 0;
}

.hothotel_btn::after {
  display: block;
  content: "";
  height: 0;
  width: 0;
  border-left: 10px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 8px;
}

@media screen and (max-width: 768px) {
  .hothotel_btn {
    display: none;
  }
}

.hothotel_phonebtn {
  width: 100%;
  background-color: #1d1d1d60;
  border: 1px solid #1d1d1d60;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  padding: 5px 0px;
  margin-top: 16px;
  display: none;
}

@media screen and (max-width: 768px) {
  .hothotel_phonebtn {
    display: block;
  }
}

.hothotel_control {
  margin-top: 16px;
}

.hothotel_control span {
  display: inline-block;
  background-color: #8bccbf;
  height: 15px;
  width: 15px;
  border: 3px solid #8bccbf;
  border-radius: 100%;
}

.hothotel_control .dot_active {
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hotcity {
  padding: 60px;
}

.hotcity img {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .hotcity img {
    width: 80%;
  }
}

.hotcity_maintitle {
  font-size: 24px;
  font-weight: bold;
}

.hotcity_content {
  padding-top: 24px;
}

.hotcity .subtitle {
  font-size: 16px;
  margin-top: 16px;
}

.whereToGo {
  padding: 56px 0;
  background-color: #f4eaec;
}

.whereToGo_maintitle {
  font-size: 24px;
  font-weight: bold;
}

.whereToGo_play {
  margin-top: 15px;
  margin-bottom: 8px;
}

.whereToGo_play img {
  width: 100%;
  height: 190px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

@media screen and (max-width: 768px) {
  .whereToGo_play img {
    height: 130px;
  }
}

.whereToGo_position {
  position: relative;
  margin-bottom: 8px;
}

.whereToGo_img:hover img {
  -webkit-filter: blur(0.5px);
          filter: blur(0.5px);
}

.whereToGo_img:hover .whereToGo_img_desc {
  opacity: 1;
}

.whereToGo_img_desc {
  height: 100%;
  width: 91%;
  text-align: center;
  position: absolute;
  line-height: 190px;
  color: #fff;
  top: 0;
  left: 15px;
  background-color: #00000020;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .whereToGo_img_desc {
    opacity: 1;
    line-height: 2;
    text-align-last: left;
    background-color: #00000004;
  }
}

.whereToGo .whereToGo_content img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 99%;
     object-position: 50% 99%;
}

@media screen and (max-width: 768px) {
  .whereToGo .whereToGo_content img {
    height: 160px;
  }
}

.whereToGo .whereToGo_content_desc {
  margin-top: 16px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .whereToGo .whereToGo_content_desc {
    font-size: 14px;
  }
}

.whereToGo .whereToGo_content_btn {
  background-color: #8bccbf;
  color: #fff;
  border: #8bccbf;
  font-weight: bold;
  padding: 10px 80px;
  border-radius: 6px;
  margin-top: 16px;
}

.news {
  padding: 60px 0;
}

.news .col-md-4 {
  padding-right: 0;
}

.news_maintitle {
  font-size: 24px;
  font-weight: bold;
}

.news_row {
  margin-top: 24px;
}

.news_content {
  margin-bottom: 8px;
  border-bottom: 1px solid #0002;
  padding: 4px;
  cursor: pointer;
}

.news_content_title {
  font-size: 20px;
  font-weight: bold;
}

.news_content_desc {
  font-size: 16px;
}

.news .news_content_active {
  background-color: #f4eaec;
}

.news_imgcontent .news_img {
  position: relative;
  height: 0px;
  padding-top: 56.25%;
  display: none;
}

.news_imgcontent .news_img img, .news_imgcontent .news_img iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.news_imgcontent .news_active {
  display: block;
}

.cooperation {
  background-color: #f4eaec;
  padding: 80px 0;
}

.cooperation_maintitle {
  font-size: 24px;
  font-weight: bold;
}

.cooperation_img {
  margin-top: 32px;
}

.cooperation_img img {
  width: 100%;
}

.cooperation_desc {
  margin-top: 16px;
}

.footer {
  padding: 60px;
  background-color: #8bccbf;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer_desc {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer_title {
    margin-top: 16px;
  }
}

.footer_icon img {
  padding: 0px 8px;
}

.footer_copyright {
  font-size: 12px;
  margin-top: 32px;
}
/*# sourceMappingURL=style.css.map */